<div class="image">
    <div id="container">
        <div class="d-flex vh-100 justify-content-center">
            <div class="row align-self-center">
               
                <div class="card" style="width:400px">
                    <img class="card-img-top mt-5  icon" src="/assets/user.png" alt="Card image">
                    <br>
                    <div class="card-body text-center">
                        <h4 class="card-title">User Fuel Distribution Details</h4>
                        <!-- <p class="card-text">Fuel distribution details </p> -->
                       
                        <!-- <a  class="btn btn-primary"  [routerLink]="['/user','user']">Log in</a> -->

                        <a  class="btn btn-primary" (click)="load_user()"> Order Creation</a>
<br> <br>
                        <a  class="btn btn-primary" (click)="load_user()"> Order Status</a>
                           
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
